* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
body {
    background-color: #f1f1f1;
}
.container {
    max-width: 1170px;
    margin: 0 auto;
}
hr{
    width: 90%;
    text-align: center;
    margin: 0 auto;
}
/* start header */

.expand {
    background-color: white;
}
header nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 55px;
}
header nav i{
    color: white;
    font-size: 45px;
    background-color: rgb(32, 172, 228);
    border-radius: 50%;
}
header nav span{
    FONT-SIZE: 40PX;
    FONT-FAMILY: cursive;
    color: rgb(32, 172, 228);
}
/* end header */
/* products */
main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin: 25px 30px;
    flex-wrap: wrap;
}
main .pc-bundle{
    background-color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    border-radius: 5px;
    margin-bottom: 15px;
    box-shadow: 0 0 11px 5px gray;
}
main .pc-bundle img{
    margin-top: 5px;
    width: 450px;
    border-bottom: 1px solid rgb(32, 172, 228);
}
main .pc-bundle h2{
    padding: 10px;
    color:tomato;
    text-transform: capitalize;
}
main .pc-bundle a{
    border: 1px solid rgb(32, 172, 228);
    padding: 5px 10px;
    font-size: 25px;
    margin-bottom: 10px;
    border-radius: 7px;
    color: rgb(10, 74, 77);
    background-color: rgb(235, 247, 244);
}
main .pc-bundle a:hover{
    color: white;
    background-color: rgb(17, 105, 32);
}

/* products */